
.vs/Chess.GUI.DearImgui/v16/ipch/AutoPCH/c9bb28b054b6ea1e/IMGUI_DRAW.ipch
.vs/Chess.GUI.DearImgui/v16/ipch/AutoPCH/b6110029cab3fd5d/BOARD.ipch
.vs/Chess.GUI.DearImgui/v16/ipch/AutoPCH/adea05087b48ec65/CHESS.ipch
.vs/Chess.GUI.DearImgui/v16/ipch/AutoPCH/98f2c8e876ec8445/IMGUI.ipch
.vs/Chess.GUI.DearImgui/v16/ipch/AutoPCH/8848ea0c0601dcea/TURN.ipch
.vs/Chess.GUI.DearImgui/v16/ipch/AutoPCH/79282897982f55/VIEWMANAGER.ipch
.vs/Chess.GUI.DearImgui/v16/ipch/AutoPCH/57ba7e37b200a0c4/MAIN.ipch
.vs/Chess.GUI.DearImgui/v16/ipch/AutoPCH/54a0ffc9048f78d9/IMGUI_IMPL_GLFW.ipch
.vs/Chess.GUI.DearImgui/v16/ipch/AutoPCH/31049227148fc5e0/GAMEMANAGER.ipch
.vs/Chess.GUI.DearImgui/v16/ipch/AutoPCH/2092528787766a07/GLAD.ipch
.vs/Chess.GUI.DearImgui/v16/Browse.VC.opendb
.vs/Chess.GUI.DearImgui/v16/Browse.VC.db-wal
.vs/Chess.GUI.DearImgui/v16/Browse.VC.db-shm
.vs/Chess.GUI.DearImgui/v16/Browse.VC.db
.vs/Chess.GUI.DearImgui/v16/.suo
x64/Release/Chess.GUI.DearImgui.pdb
x64/Release/Chess.GUI.DearImgui.exe
MineSweeper.GUI.DearImgui/x64/Release/ViewManager.obj
MineSweeper.GUI.DearImgui/x64/Release/vc142.pdb
MineSweeper.GUI.DearImgui/x64/Release/Turn.obj
MineSweeper.GUI.DearImgui/x64/Release/MineSweeper.GUI.DearImgui.log
MineSweeper.GUI.DearImgui/x64/Release/main.obj
MineSweeper.GUI.DearImgui/x64/Release/imgui_widgets.obj
MineSweeper.GUI.DearImgui/x64/Release/imgui_tables.obj
MineSweeper.GUI.DearImgui/x64/Release/imgui_impl_opengl3.obj
MineSweeper.GUI.DearImgui/x64/Release/imgui_impl_glfw.obj
MineSweeper.GUI.DearImgui/x64/Release/imgui_draw.obj
MineSweeper.GUI.DearImgui/x64/Release/imgui_demo.obj
MineSweeper.GUI.DearImgui/x64/Release/imgui.obj
MineSweeper.GUI.DearImgui/x64/Release/glad.obj
MineSweeper.GUI.DearImgui/x64/Release/GameManager.obj
MineSweeper.GUI.DearImgui/x64/Release/Chess.obj
*.obj
*.iobj
*.tlog
*.recipe
*.lastbuildstate
